* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 80px;
  font-family: "Roboto", sans-serif;
}

.nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px;
	background-color: #EEEEEE;
	border-bottom: 1px solid #DDDDDD;
	height: 40px;
}

.nav-link {
  font-size: 18px;
  padding: 0 6px
}

.nav-bar ul {
	display: inline-block;
	position: absolute;
	right: 20px;
	top: -5px;
	
}

.nav-bar li {
	display: inline-block;

}

.top-logo {
  	display: inline-block;
  	border-radius: 100%;
  	font-weight: 800;
}

.top-logo h1 {
  	font-weight: normal;
 	margin: 0;
  	padding: 0;
  	font-size: 18px
}

a {
	text-decoration: none;
}

a.hover {
	text-decoration: underline;
}

.search-section {
	margin-top: 20px;
}

label {
	display: block;
	margin-bottom: 10px;
}

.logo-icon {
	display: inline-block;
	vertical-align: bottom;
}

.search-section input {
	line-height: 30px;
	display: inline-block;
	vertical-align: bottom;
	width: 400px;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	font-size: 16px;
	padding: 0 5px 0 8px;
}

.search-section .search-button {
	font-size: 15px;
	width: 37px;
	height: auto;
	padding: 2px 6px 3px 6px;
	background-color: white;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
}

.second-bar {
	display: inline-block;
	font-size: 0;
	margin-top: 40px;
	margin-bottom: 40px;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
}

.pages-button {
	font-size: 16px;
	display: inline-block;
	padding: 8px 15px;
	border-radius: 3px;
}

.current-page {
	font-size: 16px;
	padding: 0 30px;
	padding: 8px 25px;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}

.listings {
	padding: 0;
}

.listing {
	list-style: none;
	margin-bottom: 15px;
}

.listing-date , .listing-location {
	color: #999;
}

.listing-title {
  	font-weight: bold;
  	font-size: 17px;
  	margin-left: 8px;
  	margin-right: 8px;
}